* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 0.88rem;
  color: #363949;
  background: #f6f6f9;
  user-select: none;
}

a {
  color: #363949;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

p {
  color: #677483;
}

b {
  color: #363949;
}

.container {
  padding: 0 1rem;
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}
@media (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

.primary {
  color: #7380ec !important;
}

.success {
  color: #41f1b6 !important;
}

.danger {
  color: #ff7782 !important;
}

.warning {
  color: #ffbb55 !important;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow-x: hidden;
}

.text-muted {
  color: #7d8da1;
}

aside {
  height: 100vh;
}
@media (max-width: 768px) {
  aside {
    display: none;
    padding-right: 1.8rem;
    position: fixed;
    left: -100%;
    z-index: 4;
    background: #fff;
    width: 18rem;
    height: 100vh;
    box-shadow: 1rem 3rem 4rem rgba(132, 139, 200, 0.18);
    animation: showMenu 400ms forwards;
  }
}
aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}
aside .logo {
  display: flex;
  gap: 0.8rem;
}
@media (max-width: 768px) {
  aside .logo {
    margin-left: 1rem;
  }
}
aside .logo img {
  width: 2rem;
  height: 2rem;
}
@media (max-width: 1200px) {
  aside .logo h2 {
    display: none;
  }
}
@media (max-width: 768px) {
  aside .logo h2 {
    display: inline;
  }
}
aside .close {
  display: none;
}
@media (max-width: 768px) {
  aside .close {
    display: inline-block;
    cursor: pointer;
  }
}
aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}
aside .sidebar a {
  display: flex;
  color: #7d8da1;
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}
@media (max-width: 1200px) {
  aside .sidebar a {
    width: 5.6rem;
  }
}
@media (max-width: 768px) {
  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }
}
aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}
aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}
@media (max-width: 1200px) {
  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }
}
@media (max-width: 768px) {
  aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }
}
aside .sidebar a.active {
  color: #7380ec;
  background: rgba(132, 139, 200, 0.18);
  margin-left: 0;
}
aside .sidebar a.active::before {
  content: "";
  width: 0.375rem;
  height: 100%;
  background: #7380ec;
}
aside .sidebar a.active span {
  color: #7380ec;
  margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover span {
  margin-left: 1rem;
}
aside .sidebar .message-count {
  background: #ff7782;
  color: #fff;
  padding: 0.125rem 0.625rem;
  font-size: 0.6875rem;
  border-radius: 0.4rem;
}
aside h3 {
  font-weight: 500;
}
@media (max-width: 1200px) {
  aside h3 {
    display: none;
  }
}
@media (max-width: 768px) {
  aside h3 {
    display: inline;
  }
}

@keyframes showMenu {
  to {
    left: 0;
  }
}
main {
  margin-top: 1.4rem;
}
@media (max-width: 768px) {
  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }
}
main .date {
  margin-top: 4rem;
  padding: 0.5rem 1.6rem;
  display: inline-block;
  background: rgba(132, 139, 200, 0.18);
  border-radius: 0.4rem;
}
main .date input[type=date] {
  background: transparent;
  color: #363949;
}
main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
@media (max-width: 1200px) {
  main .insights {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
main .insights > div {
  margin-top: 1rem;
  padding: 1.8rem;
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  transition: all 300ms ease;
}
main .insights > div span {
  padding: 0.5rem;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
  background: #7380ec;
}
main .insights > div .middle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
main .insights > div.expenses span {
  background: #ff7782;
}
main .insights > div.income span {
  background: #41f1b6;
}
main .insights > div:hover {
  box-shadow: none;
}
main .insights h3 {
  margin: 1rem 0 0.6rem;
}
main .insights .progress {
  position: relative;
  width: 5.75rem;
  height: 5.75rem;
  border-radius: 50%;
}
main .insights svg {
  width: 5.75rem;
}
main .insights svg circle {
  fill: none;
  stroke: #7380ec;
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(0.3125rem, 0.3125rem);
}
main .insights .sale svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}
main .insights .spenses svg circle {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}
main .insights .income svg circle {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}
main .insights .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .insights small {
  display: block;
  margin-top: 1.3rem;
}
main .recent-order {
  margin-top: 2rem;
}
@media (max-width: 1200px) {
  main .recent-order {
    margin: 2rem 0 0 8.8rem;
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
  main .recent-order {
    width: 100%;
    position: relative;
    margin: 3rem 0 0 0;
  }
}
main .recent-order h2 {
  margin-bottom: 0.8rem;
}
main .recent-order table {
  width: 100%;
  padding: 1.8rem;
  text-align: center;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  background: #fff;
  border-radius: 2rem;
  transition: all 300ms ease;
}
@media (max-width: 1200px) {
  main .recent-order table {
    width: 83vw;
  }
}
@media (max-width: 768px) {
  main .recent-order table {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 1200px) {
  main .recent-order table thead tr th:first-child {
    display: none;
  }
}
@media (max-width: 1200px) {
  main .recent-order table thead tr th:last-child {
    display: none;
  }
}
main .recent-order table:hover {
  box-shadow: none;
}
main .recent-order table tbody td {
  height: 2.8rem;
  color: #677483;
  border-bottom: 1px solid rgba(132, 139, 200, 0.18);
}
main .recent-order table tbody tr:last-child td {
  border: none;
}
main .recent-order a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: #7380ec;
}

.right {
  margin-top: 1.4rem;
}
@media (max-width: 768px) {
  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }
}
.right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}
@media (max-width: 768px) {
  .right .top {
    padding: 0 0.8rem;
    height: 4.6rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    align-items: center;
    background: #fff;
    box-shadow: 0 1rem 1rem rgba(132, 139, 200, 0.18);
  }
}
.right .top .profile {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
@media (max-width: 768px) {
  .right .top .info {
    display: none;
  }
}
.right .top button {
  display: none;
}
@media (max-width: 768px) {
  .right .top button {
    position: absolute;
    left: 1rem;
    display: inline-block;
    font-size: 2rem;
    color: #363949;
    background: transparent;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .right .top button span {
    font-size: 2rem;
  }
}
.right .theme-toggler {
  height: 1.6rem;
  width: 4.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4rem;
  background: rgba(132, 139, 200, 0.18);
  border-radius: 0.4rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .right .theme-toggler {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }
}
.right .theme-toggler span {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: all 300ms ease;
}
.right .theme-toggler span.active {
  color: #fff;
  background: #7380ec;
  border-radius: 0.4rem;
}
.right .recent-updates {
  margin-top: 1rem;
}
.right .recent-updates h2 {
  margin-bottom: 0.8rem;
}
.right .recent-updates .updates {
  padding: 1.8rem;
  border-radius: 2rem;
  background: #fff;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  transition: all 300ms ease;
}
.right .recent-updates .updates:hover {
  box-shadow: none;
}
.right .recent-updates .updates .update {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
}
.right .recent-updates .updates .update small {
  margin-top: 0.5rem;
  display: block;
}
.right .sales-analytics {
  margin-top: 2rem;
}
.right .sales-analytics h2 {
  margin-bottom: 0.8rem;
}
.right .sales-analytics .item {
  margin-bottom: 0.7rem;
  padding: 1.4rem 1.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1.2rem;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  background: #fff;
  transition: all 300ms ease;
}
.right .sales-analytics .item:hover {
  box-shadow: none;
}
.right .sales-analytics .item .right {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.right .sales-analytics .item .info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right .sales-analytics .item .icon {
  padding: 0.6rem;
  color: #fff;
  background: #7380ec;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .sales-analytics .item.offline .icon {
  background: #ff7782;
}
.right .sales-analytics .item.customers .icon {
  background: #41f1b6;
}
.right .sales-analytics .add-product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  border: 2px dashed #7380ec;
  background: transparent;
  cursor: pointer;
}
.right .sales-analytics .add-product h3 {
  font-weight: 600;
}