.container {
  padding: 0 1rem;
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
  @include desktop {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }

  @include tablet {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
